@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
.topnavigationpane{
  display: flex;
}
.name{
  color: aliceblue;
  display: inline-flex;
  width: 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  min-width: 200px;
}
.top-nav {
        display: flex;
        background-color: rgb(0, 0, 0);
        justify-content: flex-end;
        align-items: flex-end;
        width: 80vmax;
        text-align: right;
    }
.nav-list{
        display: flex;
        flex-direction: row;
        text-align: end;
    }
.nav-list ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

.nav-list li {
        display: inline-flex;
        flex: 1;
        text-align: center;
        align-items: center;
        margin-left: 20px;
    }

.nav-list li a {
        display: inline-flex;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 16px;
        position: relative;
        transition: color 0.3s;
    }
.nav-list li a:before {
        content: '';
        position: absolute; 
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(149, 102, 102);
        transform: scaleX(0);
        transition: transform 0.3s;
    }
.nav-list li a:hover {
        color: rgb(149, 102, 102);
        transform: scale(1.25);
    }
.nav-list li a:hover:before {
        transform: scaleX(1);
    }
/*home*/
#home {
  height: auto;
}

   /*net mara just vlo dekhanor jonno*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(35, 42, 42);
  }

  .dataFlow {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598);
    background-repeat: no-repeat;
    background-size: 3% 0.6%;
    -webkit-animation: lft-rght 800s infinite linear;
            animation: lft-rght 800s infinite linear;
  }
  @-webkit-keyframes lft-rght {
    0% {
      background-position: -2% 46%, 79% 32%, 125% 80%, 29% 1%, 31% 87%, 108% 28%, 19% 44%, 0% 97%, 82% 89%, 0% 66%, 65% 69%, -3% 69%, 78% 15%, 74% 90%, 49% 72%;
    }
    1% {
      background-position: 52% 46%, 124% 32%, -13% 80%, 116% 1%, 119% 87%, 67% 28%, 29% 44%, -6% 97%, 50% 89%, 28% 66%, -11% 69%, 104% 69%, 15% 15%, 83% 90%, 31% 72%;
    }
    2% {
      background-position: 121% 46%, 21% 32%, 67% 80%, 10% 1%, -16% 87%, 49% 28%, 20% 44%, 11% 97%, 48% 89%, 14% 66%, 90% 69%, 11% 69%, 117% 15%, 98% 90%, 16% 72%;
    }
    3% {
      background-position: -21% 46%, 81% 32%, 109% 80%, 67% 1%, 9% 87%, 11% 28%, 72% 44%, 66% 97%, 25% 89%, 31% 66%, 48% 69%, -7% 69%, 102% 15%, 46% 90%, 84% 72%;
    }
    4% {
      background-position: 122% 46%, -10% 32%, 90% 80%, -24% 1%, 1% 87%, 1% 28%, 64% 44%, 13% 97%, 62% 89%, 49% 66%, 109% 69%, 29% 69%, 50% 15%, 54% 90%, 6% 72%;
    }
    5% {
      background-position: 48% 46%, 43% 32%, 76% 80%, 30% 1%, 51% 87%, 24% 28%, 43% 44%, 41% 97%, -18% 89%, -16% 66%, 47% 69%, 3% 69%, 93% 15%, -8% 90%, 74% 72%;
    }
    6% {
      background-position: 65% 46%, 85% 32%, 9% 80%, 71% 1%, 67% 87%, 64% 28%, 114% 44%, 70% 97%, 64% 89%, -13% 66%, 56% 69%, 105% 69%, 123% 15%, -9% 90%, 72% 72%;
    }
    7% {
      background-position: -24% 46%, -4% 32%, 125% 80%, -9% 1%, 30% 87%, 60% 28%, 33% 44%, 108% 97%, 68% 89%, 84% 66%, 23% 69%, 71% 69%, -3% 15%, 96% 90%, 82% 72%;
    }
    8% {
      background-position: 109% 46%, -1% 32%, -7% 80%, 83% 1%, 105% 87%, 114% 28%, 26% 44%, 70% 97%, -6% 89%, -15% 66%, 7% 69%, 74% 69%, 6% 15%, 70% 90%, 114% 72%;
    }
    9% {
      background-position: 87% 46%, 4% 32%, 56% 80%, 87% 1%, 123% 87%, 6% 28%, 66% 44%, 9% 97%, -17% 89%, 77% 66%, 31% 69%, 98% 69%, 114% 15%, 54% 90%, 10% 72%;
    }
    10% {
      background-position: 109% 46%, 49% 32%, 105% 80%, 120% 1%, 103% 87%, 27% 28%, 70% 44%, -22% 97%, 95% 89%, 86% 66%, 114% 69%, 73% 69%, 52% 15%, 13% 90%, 36% 72%;
    }
    11% {
      background-position: 121% 46%, 88% 32%, -11% 80%, 107% 1%, 73% 87%, 32% 28%, 41% 44%, 93% 97%, 53% 89%, 95% 66%, 34% 69%, 68% 69%, 79% 15%, -21% 90%, 13% 72%;
    }
    12% {
      background-position: 58% 46%, 60% 32%, 6% 80%, 27% 1%, -15% 87%, -4% 28%, -17% 44%, 51% 97%, 117% 89%, 65% 66%, -20% 69%, 22% 69%, -21% 15%, -22% 90%, 37% 72%;
    }
    13% {
      background-position: -11% 46%, 40% 32%, 115% 80%, 63% 1%, -16% 87%, 102% 28%, 116% 44%, 113% 97%, 14% 89%, 66% 66%, 31% 69%, 106% 69%, 101% 15%, 82% 90%, 69% 72%;
    }
    14% {
      background-position: 71% 46%, -11% 32%, 69% 80%, 14% 1%, 76% 87%, -11% 28%, 112% 44%, 2% 97%, -13% 89%, 1% 66%, -6% 69%, 33% 69%, 109% 15%, 14% 90%, -1% 72%;
    }
    15% {
      background-position: 37% 46%, 89% 32%, 48% 80%, 49% 1%, 63% 87%, 4% 28%, -21% 44%, 6% 97%, 58% 89%, 32% 66%, -9% 69%, 125% 69%, 88% 15%, 34% 90%, 47% 72%;
    }
    16% {
      background-position: 123% 46%, -13% 32%, -9% 80%, 61% 1%, 75% 87%, -13% 28%, 24% 44%, 51% 97%, 32% 89%, 19% 66%, -20% 69%, 58% 69%, 27% 15%, 4% 90%, 108% 72%;
    }
    17% {
      background-position: 53% 46%, -19% 32%, 44% 80%, 66% 1%, 66% 87%, 5% 28%, 114% 44%, 91% 97%, 116% 89%, 64% 66%, 25% 69%, 32% 69%, 1% 15%, 11% 90%, 96% 72%;
    }
    18% {
      background-position: -23% 46%, 125% 32%, 108% 80%, 83% 1%, -18% 87%, 117% 28%, 16% 44%, 18% 97%, 9% 89%, 71% 66%, 93% 69%, -9% 69%, 67% 15%, 113% 90%, 32% 72%;
    }
    19% {
      background-position: 100% 46%, 39% 32%, 77% 80%, -13% 1%, 100% 87%, 70% 28%, 99% 44%, 82% 97%, 30% 89%, 70% 66%, 13% 69%, 115% 69%, 117% 15%, -18% 90%, 37% 72%;
    }
    20% {
      background-position: -2% 46%, 55% 32%, -4% 80%, 43% 1%, 76% 87%, -17% 28%, 0% 44%, 95% 97%, 21% 89%, -5% 66%, 124% 69%, 62% 69%, 75% 15%, 44% 90%, 37% 72%;
    }
    21% {
      background-position: -21% 46%, 44% 32%, 67% 80%, 74% 1%, 70% 87%, 29% 28%, 78% 44%, 118% 97%, 92% 89%, 107% 66%, 91% 69%, 25% 69%, 42% 15%, 125% 90%, 89% 72%;
    }
    22% {
      background-position: 37% 46%, 6% 32%, 115% 80%, -22% 1%, -1% 87%, 39% 28%, 32% 44%, 21% 97%, -22% 89%, 72% 66%, 93% 69%, -15% 69%, 107% 15%, 52% 90%, 3% 72%;
    }
    23% {
      background-position: 45% 46%, 13% 32%, 40% 80%, 116% 1%, 53% 87%, -24% 28%, 104% 44%, 53% 97%, 1% 89%, 90% 66%, 34% 69%, 28% 69%, 65% 15%, 92% 90%, 107% 72%;
    }
    24% {
      background-position: 65% 46%, 16% 32%, 7% 80%, 80% 1%, -2% 87%, 84% 28%, 48% 44%, 95% 97%, 93% 89%, 51% 66%, 55% 69%, 101% 69%, 72% 15%, 111% 90%, 26% 72%;
    }
    25% {
      background-position: -18% 46%, 33% 32%, 88% 80%, 43% 1%, 31% 87%, -3% 28%, 37% 44%, 46% 97%, 46% 89%, -4% 66%, 42% 69%, 98% 69%, 40% 15%, 107% 90%, -19% 72%;
    }
    26% {
      background-position: 32% 46%, -8% 32%, 82% 80%, 35% 1%, 102% 87%, 16% 28%, 108% 44%, 33% 97%, 14% 89%, 95% 66%, 32% 69%, 48% 69%, 105% 15%, 35% 90%, 95% 72%;
    }
    27% {
      background-position: 101% 46%, 100% 32%, 122% 80%, 77% 1%, 2% 87%, 112% 28%, -19% 44%, 107% 97%, 31% 89%, 98% 66%, 109% 69%, 18% 69%, -13% 15%, 1% 90%, 18% 72%;
    }
    28% {
      background-position: 124% 46%, 99% 32%, 94% 80%, 122% 1%, 70% 87%, 45% 28%, 32% 44%, 54% 97%, 97% 89%, -9% 66%, 58% 69%, 91% 69%, -9% 15%, 20% 90%, -10% 72%;
    }
    29% {
      background-position: 30% 46%, 1% 32%, 110% 80%, -11% 1%, -14% 87%, 37% 28%, 73% 44%, 56% 97%, -10% 89%, 74% 66%, 10% 69%, 35% 69%, 48% 15%, 69% 90%, -15% 72%;
    }
    30% {
      background-position: 18% 46%, 9% 32%, 13% 80%, 123% 1%, 114% 87%, 86% 28%, 88% 44%, -15% 97%, 10% 89%, 45% 66%, 98% 69%, 32% 69%, 0% 15%, 73% 90%, 60% 72%;
    }
    31% {
      background-position: 42% 46%, 109% 32%, 3% 80%, 29% 1%, -8% 87%, -22% 28%, -14% 44%, 5% 97%, 12% 89%, 7% 66%, 120% 69%, 81% 69%, 67% 15%, 13% 90%, 121% 72%;
    }
    32% {
      background-position: 21% 46%, 17% 32%, -7% 80%, -5% 1%, -21% 87%, 0% 28%, 64% 44%, -8% 97%, 62% 89%, 86% 66%, 25% 69%, 105% 69%, -17% 15%, 125% 90%, 90% 72%;
    }
    33% {
      background-position: 65% 46%, -24% 32%, 30% 80%, 66% 1%, 32% 87%, 112% 28%, 125% 44%, 70% 97%, 29% 89%, 1% 66%, 89% 69%, -4% 69%, 44% 15%, -9% 90%, 35% 72%;
    }
    34% {
      background-position: 116% 46%, 116% 32%, 98% 80%, 121% 1%, 111% 87%, -21% 28%, 2% 44%, 57% 97%, 80% 89%, 120% 66%, 72% 69%, 2% 69%, 61% 15%, 32% 90%, 44% 72%;
    }
    35% {
      background-position: 28% 46%, 19% 32%, 55% 80%, -22% 1%, -14% 87%, 89% 28%, 46% 44%, 31% 97%, 102% 89%, 11% 66%, 24% 69%, 11% 69%, 29% 15%, 112% 90%, 33% 72%;
    }
    36% {
      background-position: 65% 46%, 56% 32%, 93% 80%, 95% 1%, 117% 87%, 67% 28%, -23% 44%, 25% 97%, -7% 89%, 9% 66%, 11% 69%, 51% 69%, 12% 15%, 36% 90%, 109% 72%;
    }
    37% {
      background-position: 47% 46%, 99% 32%, 72% 80%, 15% 1%, 106% 87%, 51% 28%, 27% 44%, 34% 97%, 113% 89%, 4% 66%, -17% 69%, 53% 69%, -8% 15%, 62% 90%, 119% 72%;
    }
    38% {
      background-position: 93% 46%, 41% 32%, 98% 80%, 97% 1%, 60% 87%, -21% 28%, 121% 44%, 110% 97%, 103% 89%, 3% 66%, 36% 69%, 52% 69%, 35% 15%, 97% 90%, 39% 72%;
    }
    39% {
      background-position: 17% 46%, 100% 32%, -7% 80%, 26% 1%, 74% 87%, 75% 28%, 44% 44%, 40% 97%, 88% 89%, 74% 66%, 79% 69%, 116% 69%, 40% 15%, 42% 90%, 30% 72%;
    }
    40% {
      background-position: -14% 46%, 15% 32%, -12% 80%, 50% 1%, 106% 87%, 73% 28%, -23% 44%, 19% 97%, 101% 89%, 14% 66%, 53% 69%, 7% 69%, 53% 15%, 95% 90%, 123% 72%;
    }
    41% {
      background-position: 17% 46%, 31% 32%, 106% 80%, -10% 1%, 72% 87%, 84% 28%, 64% 44%, 122% 97%, 56% 89%, 59% 66%, 8% 69%, 23% 69%, 80% 15%, 114% 90%, 6% 72%;
    }
    42% {
      background-position: 53% 46%, -16% 32%, 52% 80%, -19% 1%, 124% 87%, 48% 28%, 54% 44%, 82% 97%, 97% 89%, 91% 66%, 9% 69%, 63% 69%, 4% 15%, 8% 90%, 9% 72%;
    }
    43% {
      background-position: 60% 46%, 3% 32%, 106% 80%, -16% 1%, -11% 87%, 29% 28%, 107% 44%, 52% 97%, 73% 89%, -22% 66%, -21% 69%, 10% 69%, 73% 15%, 55% 90%, 80% 72%;
    }
    44% {
      background-position: 13% 46%, 72% 32%, 31% 80%, 80% 1%, -10% 87%, -11% 28%, 117% 44%, 14% 97%, 46% 89%, 123% 66%, -10% 69%, 86% 69%, 107% 15%, -16% 90%, 111% 72%;
    }
    45% {
      background-position: 52% 46%, 48% 32%, -24% 80%, -7% 1%, 4% 87%, 71% 28%, 75% 44%, -22% 97%, -23% 89%, 85% 66%, 82% 69%, 44% 69%, 25% 15%, 46% 90%, 86% 72%;
    }
    46% {
      background-position: 32% 46%, 95% 32%, -1% 80%, 65% 1%, 32% 87%, 80% 28%, 10% 44%, 10% 97%, 50% 89%, 107% 66%, 31% 69%, 90% 69%, 118% 15%, 30% 90%, 26% 72%;
    }
    47% {
      background-position: 4% 46%, 11% 32%, 21% 80%, 29% 1%, 90% 87%, 36% 28%, 29% 44%, -15% 97%, -23% 89%, 30% 66%, 19% 69%, 120% 69%, 57% 15%, -10% 90%, 26% 72%;
    }
    48% {
      background-position: 63% 46%, 38% 32%, 78% 80%, 120% 1%, 71% 87%, 74% 28%, 123% 44%, 101% 97%, 42% 89%, 25% 66%, 76% 69%, -11% 69%, 17% 15%, 92% 90%, 62% 72%;
    }
    49% {
      background-position: 112% 46%, 87% 32%, 122% 80%, -8% 1%, 96% 87%, 99% 28%, 83% 44%, 2% 97%, 42% 89%, 86% 66%, 119% 69%, 97% 69%, 8% 15%, 112% 90%, 82% 72%;
    }
    50% {
      background-position: 36% 46%, 19% 32%, 72% 80%, 95% 1%, -17% 87%, 24% 28%, 20% 44%, 104% 97%, -4% 89%, -16% 66%, 87% 69%, 65% 69%, 73% 15%, 115% 90%, 38% 72%;
    }
    51% {
      background-position: 50% 46%, 1% 32%, 31% 80%, 107% 1%, 57% 87%, 31% 28%, 81% 44%, 42% 97%, 51% 89%, 2% 66%, -18% 69%, 0% 69%, 53% 15%, 89% 90%, 97% 72%;
    }
    52% {
      background-position: 24% 46%, 91% 32%, -7% 80%, 60% 1%, 61% 87%, 93% 28%, 29% 44%, 61% 97%, 29% 89%, 31% 66%, -10% 69%, 16% 69%, 85% 15%, 30% 90%, 76% 72%;
    }
    53% {
      background-position: -18% 46%, 5% 32%, 9% 80%, 123% 1%, 50% 87%, 90% 28%, -21% 44%, 9% 97%, 45% 89%, 29% 66%, 102% 69%, 25% 69%, -12% 15%, 19% 90%, 67% 72%;
    }
    54% {
      background-position: 59% 46%, 25% 32%, 35% 80%, 6% 1%, 57% 87%, 112% 28%, 28% 44%, 118% 97%, -17% 89%, 102% 66%, 75% 69%, 72% 69%, 116% 15%, 1% 90%, -6% 72%;
    }
    55% {
      background-position: 50% 46%, 42% 32%, 30% 80%, 92% 1%, 22% 87%, 23% 28%, 100% 44%, 34% 97%, 56% 89%, 24% 66%, -12% 69%, 8% 69%, -21% 15%, 64% 90%, 26% 72%;
    }
    56% {
      background-position: 116% 46%, 109% 32%, -2% 80%, 4% 1%, 77% 87%, 11% 28%, 1% 44%, -22% 97%, 73% 89%, 70% 66%, -20% 69%, 71% 69%, 12% 15%, 75% 90%, 76% 72%;
    }
    57% {
      background-position: 62% 46%, 118% 32%, 100% 80%, 100% 1%, 58% 87%, 121% 28%, 90% 44%, 109% 97%, 42% 89%, -19% 66%, 119% 69%, 84% 69%, -18% 15%, 83% 90%, 73% 72%;
    }
    58% {
      background-position: 75% 46%, 65% 32%, 7% 80%, 32% 1%, 118% 87%, 43% 28%, 12% 44%, 1% 97%, 122% 89%, 72% 66%, 59% 69%, 107% 69%, 73% 15%, 48% 90%, 67% 72%;
    }
    59% {
      background-position: -3% 46%, 60% 32%, 54% 80%, 3% 1%, 96% 87%, 40% 28%, 77% 44%, 85% 97%, 117% 89%, 15% 66%, 29% 69%, 22% 69%, 87% 15%, 1% 90%, 106% 72%;
    }
    60% {
      background-position: 78% 46%, 49% 32%, 41% 80%, 116% 1%, 119% 87%, 19% 28%, 30% 44%, 35% 97%, 18% 89%, 110% 66%, 109% 69%, 33% 69%, 36% 15%, 56% 90%, 9% 72%;
    }
    61% {
      background-position: 96% 46%, 13% 32%, 91% 80%, 121% 1%, 49% 87%, 51% 28%, 19% 44%, 96% 97%, 4% 89%, 37% 66%, 3% 69%, 8% 69%, 95% 15%, 32% 90%, 39% 72%;
    }
    62% {
      background-position: 50% 46%, 26% 32%, 70% 80%, -22% 1%, 5% 87%, 32% 28%, 43% 44%, 42% 97%, 65% 89%, -19% 66%, 75% 69%, 67% 69%, 109% 15%, -14% 90%, 22% 72%;
    }
    63% {
      background-position: -8% 46%, 11% 32%, 79% 80%, 80% 1%, 91% 87%, 32% 28%, 114% 44%, 45% 97%, 119% 89%, 67% 66%, 1% 69%, -10% 69%, 66% 15%, -10% 90%, 3% 72%;
    }
    64% {
      background-position: 1% 46%, 102% 32%, 8% 80%, 48% 1%, 3% 87%, -20% 28%, 59% 44%, -24% 97%, 81% 89%, 114% 66%, 92% 69%, 72% 69%, -14% 15%, 89% 90%, 91% 72%;
    }
    65% {
      background-position: 23% 46%, 93% 32%, 23% 80%, 42% 1%, 50% 87%, 115% 28%, 121% 44%, 57% 97%, 11% 89%, 1% 66%, 92% 69%, 80% 69%, 23% 15%, -16% 90%, -20% 72%;
    }
    66% {
      background-position: 83% 46%, 5% 32%, 86% 80%, 22% 1%, -16% 87%, -18% 28%, 57% 44%, 1% 97%, -19% 89%, 122% 66%, 64% 69%, 8% 69%, 88% 15%, 106% 90%, 24% 72%;
    }
    67% {
      background-position: 73% 46%, 111% 32%, 53% 80%, 125% 1%, 91% 87%, 33% 28%, 33% 44%, 68% 97%, 70% 89%, 119% 66%, -21% 69%, 114% 69%, 107% 15%, 55% 90%, 70% 72%;
    }
    68% {
      background-position: 5% 46%, 21% 32%, 118% 80%, 22% 1%, 106% 87%, 42% 28%, 68% 44%, 46% 97%, -22% 89%, 14% 66%, 83% 69%, -15% 69%, 26% 15%, 87% 90%, 94% 72%;
    }
    69% {
      background-position: 47% 46%, 16% 32%, 75% 80%, 3% 1%, 90% 87%, 0% 28%, 47% 44%, 57% 97%, 65% 89%, 95% 66%, -4% 69%, 90% 69%, 56% 15%, 29% 90%, 0% 72%;
    }
    70% {
      background-position: 3% 46%, 84% 32%, 60% 80%, 43% 1%, 103% 87%, 2% 28%, -18% 44%, -4% 97%, -10% 89%, 105% 66%, 10% 69%, 21% 69%, -3% 15%, 90% 90%, -24% 72%;
    }
    71% {
      background-position: -9% 46%, -1% 32%, 31% 80%, 44% 1%, 62% 87%, 103% 28%, 54% 44%, 27% 97%, 10% 89%, 79% 66%, 5% 69%, 31% 69%, 8% 15%, 106% 90%, 19% 72%;
    }
    72% {
      background-position: 122% 46%, 51% 32%, -8% 80%, 108% 1%, -22% 87%, 118% 28%, 15% 44%, 109% 97%, 67% 89%, 122% 66%, 72% 69%, 91% 69%, 103% 15%, 17% 90%, 117% 72%;
    }
    73% {
      background-position: 24% 46%, 74% 32%, -16% 80%, 23% 1%, 21% 87%, 90% 28%, 50% 44%, 18% 97%, -11% 89%, 66% 66%, -15% 69%, 45% 69%, 75% 15%, 43% 90%, -1% 72%;
    }
    74% {
      background-position: 77% 46%, 110% 32%, 25% 80%, 20% 1%, 82% 87%, 121% 28%, 90% 44%, -15% 97%, 14% 89%, 46% 66%, 123% 69%, 98% 69%, 48% 15%, 23% 90%, 90% 72%;
    }
    75% {
      background-position: 78% 46%, 52% 32%, -20% 80%, 97% 1%, 83% 87%, 18% 28%, 41% 44%, 54% 97%, 63% 89%, 64% 66%, -15% 69%, 14% 69%, 48% 15%, -16% 90%, 84% 72%;
    }
    76% {
      background-position: 63% 46%, 116% 32%, 73% 80%, 68% 1%, -12% 87%, 10% 28%, 94% 44%, -23% 97%, -12% 89%, 87% 66%, 125% 69%, 71% 69%, 11% 15%, 32% 90%, 83% 72%;
    }
    77% {
      background-position: 53% 46%, 18% 32%, 106% 80%, -11% 1%, 74% 87%, 121% 28%, 74% 44%, 44% 97%, 105% 89%, 119% 66%, 102% 69%, 41% 69%, 1% 15%, 33% 90%, 21% 72%;
    }
    78% {
      background-position: 62% 46%, 54% 32%, 36% 80%, 98% 1%, 55% 87%, 114% 28%, 30% 44%, -1% 97%, 4% 89%, 38% 66%, -14% 69%, 8% 69%, -12% 15%, 19% 90%, 23% 72%;
    }
    79% {
      background-position: 65% 46%, 33% 32%, 86% 80%, 102% 1%, 35% 87%, 21% 28%, -3% 44%, 20% 97%, 38% 89%, 11% 66%, 57% 69%, 115% 69%, 39% 15%, 110% 90%, 93% 72%;
    }
    80% {
      background-position: 80% 46%, 70% 32%, 54% 80%, 97% 1%, 3% 87%, 24% 28%, 84% 44%, 116% 97%, 113% 89%, 124% 66%, 108% 69%, 40% 69%, 73% 15%, 97% 90%, 92% 72%;
    }
    81% {
      background-position: -9% 46%, 11% 32%, 76% 80%, 54% 1%, 86% 87%, 27% 28%, 116% 44%, 42% 97%, 81% 89%, 106% 66%, 78% 69%, 9% 69%, -17% 15%, -13% 90%, 64% 72%;
    }
    82% {
      background-position: 98% 46%, 22% 32%, 61% 80%, 75% 1%, 103% 87%, 30% 28%, 85% 44%, 67% 97%, 53% 89%, 105% 66%, 58% 69%, 107% 69%, 10% 15%, 103% 90%, 62% 72%;
    }
    83% {
      background-position: -2% 46%, 41% 32%, 89% 80%, -3% 1%, 119% 87%, 54% 28%, 70% 44%, 113% 97%, -17% 89%, 90% 66%, 39% 69%, 117% 69%, 56% 15%, 57% 90%, 10% 72%;
    }
    84% {
      background-position: 20% 46%, -9% 32%, 8% 80%, 47% 1%, 45% 87%, 29% 28%, -8% 44%, 63% 97%, 3% 89%, 102% 66%, 77% 69%, -5% 69%, 9% 15%, 74% 90%, 117% 72%;
    }
    85% {
      background-position: 61% 46%, -21% 32%, -5% 80%, 112% 1%, 71% 87%, 118% 28%, 77% 44%, 52% 97%, 98% 89%, 121% 66%, 64% 69%, 21% 69%, 100% 15%, 10% 90%, 61% 72%;
    }
    86% {
      background-position: 73% 46%, 22% 32%, 66% 80%, 9% 1%, -5% 87%, 68% 28%, -18% 44%, 23% 97%, 105% 89%, -1% 66%, 34% 69%, 90% 69%, 41% 15%, 122% 90%, 114% 72%;
    }
    87% {
      background-position: -7% 46%, 44% 32%, -17% 80%, 2% 1%, 58% 87%, 22% 28%, 45% 44%, 75% 97%, -13% 89%, 19% 66%, 60% 69%, 113% 69%, 40% 15%, 110% 90%, 40% 72%;
    }
    88% {
      background-position: 75% 46%, 13% 32%, 1% 80%, -3% 1%, 111% 87%, 24% 28%, 3% 44%, 15% 97%, 8% 89%, -20% 66%, 4% 69%, 64% 69%, 5% 15%, 107% 90%, 61% 72%;
    }
    89% {
      background-position: -14% 46%, 59% 32%, 95% 80%, -21% 1%, -19% 87%, -3% 28%, 111% 44%, 111% 97%, 105% 89%, 112% 66%, -11% 69%, 9% 69%, 80% 15%, 42% 90%, -24% 72%;
    }
    90% {
      background-position: 109% 46%, 85% 32%, 76% 80%, 94% 1%, 84% 87%, 84% 28%, 74% 44%, 102% 97%, 25% 89%, -20% 66%, 73% 69%, 34% 69%, -1% 15%, 50% 90%, 44% 72%;
    }
    91% {
      background-position: 47% 46%, 44% 32%, 104% 80%, 95% 1%, 105% 87%, 108% 28%, -4% 44%, 58% 97%, 4% 89%, 6% 66%, 43% 69%, 28% 69%, 56% 15%, 20% 90%, 88% 72%;
    }
    92% {
      background-position: 122% 46%, 91% 32%, -10% 80%, 93% 1%, 116% 87%, 81% 28%, 89% 44%, 61% 97%, 32% 89%, 61% 66%, 4% 69%, 55% 69%, 90% 15%, 41% 90%, 53% 72%;
    }
    93% {
      background-position: 121% 46%, 32% 32%, 57% 80%, 27% 1%, 48% 87%, 92% 28%, -15% 44%, 35% 97%, 54% 89%, 95% 66%, 67% 69%, 11% 69%, 100% 15%, 114% 90%, -23% 72%;
    }
    94% {
      background-position: 101% 46%, 1% 32%, 110% 80%, 57% 1%, -7% 87%, 104% 28%, 0% 44%, 73% 97%, 105% 89%, 70% 66%, 101% 69%, 91% 69%, 46% 15%, 24% 90%, 107% 72%;
    }
    95% {
      background-position: 92% 46%, -15% 32%, -18% 80%, 2% 1%, 74% 87%, -10% 28%, 113% 44%, 15% 97%, 44% 89%, 27% 66%, 123% 69%, 90% 69%, 116% 15%, 104% 90%, 49% 72%;
    }
    96% {
      background-position: 121% 46%, 52% 32%, 103% 80%, 27% 1%, 77% 87%, 119% 28%, 55% 44%, 75% 97%, 115% 89%, -18% 66%, 22% 69%, 23% 69%, 77% 15%, 117% 90%, 18% 72%;
    }
    97% {
      background-position: 47% 46%, 13% 32%, 57% 80%, -3% 1%, 31% 87%, 9% 28%, 121% 44%, 22% 97%, 106% 89%, 87% 66%, -19% 69%, -12% 69%, 78% 15%, -6% 90%, 33% 72%;
    }
    98% {
      background-position: 85% 46%, -23% 32%, 12% 80%, 24% 1%, 34% 87%, 72% 28%, -8% 44%, 76% 97%, 36% 89%, 103% 66%, 121% 69%, 91% 69%, 97% 15%, 26% 90%, -1% 72%;
    }
    99% {
      background-position: 35% 46%, 55% 32%, 104% 80%, 16% 1%, 37% 87%, -15% 28%, 1% 44%, 111% 97%, 20% 89%, 6% 66%, 6% 69%, 67% 69%, 62% 15%, 24% 90%, 23% 72%;
    }
    100% {
      background-position: 95% 46%, 49% 32%, 81% 80%, -19% 1%, 119% 87%, 56% 28%, 118% 44%, 101% 97%, 64% 89%, 13% 66%, 30% 69%, 76% 69%, 31% 15%, 11% 90%, 97% 72%;
    }
  }
  
    @keyframes lft-rght {
      0% {
        background-position: -2% 46%, 79% 32%, 125% 80%, 29% 1%, 31% 87%, 108% 28%, 19% 44%, 0% 97%, 82% 89%, 0% 66%, 65% 69%, -3% 69%, 78% 15%, 74% 90%, 49% 72%;
      }
      1% {
        background-position: 52% 46%, 124% 32%, -13% 80%, 116% 1%, 119% 87%, 67% 28%, 29% 44%, -6% 97%, 50% 89%, 28% 66%, -11% 69%, 104% 69%, 15% 15%, 83% 90%, 31% 72%;
      }
      2% {
        background-position: 121% 46%, 21% 32%, 67% 80%, 10% 1%, -16% 87%, 49% 28%, 20% 44%, 11% 97%, 48% 89%, 14% 66%, 90% 69%, 11% 69%, 117% 15%, 98% 90%, 16% 72%;
      }
      3% {
        background-position: -21% 46%, 81% 32%, 109% 80%, 67% 1%, 9% 87%, 11% 28%, 72% 44%, 66% 97%, 25% 89%, 31% 66%, 48% 69%, -7% 69%, 102% 15%, 46% 90%, 84% 72%;
      }
      4% {
        background-position: 122% 46%, -10% 32%, 90% 80%, -24% 1%, 1% 87%, 1% 28%, 64% 44%, 13% 97%, 62% 89%, 49% 66%, 109% 69%, 29% 69%, 50% 15%, 54% 90%, 6% 72%;
      }
      5% {
        background-position: 48% 46%, 43% 32%, 76% 80%, 30% 1%, 51% 87%, 24% 28%, 43% 44%, 41% 97%, -18% 89%, -16% 66%, 47% 69%, 3% 69%, 93% 15%, -8% 90%, 74% 72%;
      }
      6% {
        background-position: 65% 46%, 85% 32%, 9% 80%, 71% 1%, 67% 87%, 64% 28%, 114% 44%, 70% 97%, 64% 89%, -13% 66%, 56% 69%, 105% 69%, 123% 15%, -9% 90%, 72% 72%;
      }
      7% {
        background-position: -24% 46%, -4% 32%, 125% 80%, -9% 1%, 30% 87%, 60% 28%, 33% 44%, 108% 97%, 68% 89%, 84% 66%, 23% 69%, 71% 69%, -3% 15%, 96% 90%, 82% 72%;
      }
      8% {
        background-position: 109% 46%, -1% 32%, -7% 80%, 83% 1%, 105% 87%, 114% 28%, 26% 44%, 70% 97%, -6% 89%, -15% 66%, 7% 69%, 74% 69%, 6% 15%, 70% 90%, 114% 72%;
      }
      9% {
        background-position: 87% 46%, 4% 32%, 56% 80%, 87% 1%, 123% 87%, 6% 28%, 66% 44%, 9% 97%, -17% 89%, 77% 66%, 31% 69%, 98% 69%, 114% 15%, 54% 90%, 10% 72%;
      }
      10% {
        background-position: 109% 46%, 49% 32%, 105% 80%, 120% 1%, 103% 87%, 27% 28%, 70% 44%, -22% 97%, 95% 89%, 86% 66%, 114% 69%, 73% 69%, 52% 15%, 13% 90%, 36% 72%;
      }
      11% {
        background-position: 121% 46%, 88% 32%, -11% 80%, 107% 1%, 73% 87%, 32% 28%, 41% 44%, 93% 97%, 53% 89%, 95% 66%, 34% 69%, 68% 69%, 79% 15%, -21% 90%, 13% 72%;
      }
      12% {
        background-position: 58% 46%, 60% 32%, 6% 80%, 27% 1%, -15% 87%, -4% 28%, -17% 44%, 51% 97%, 117% 89%, 65% 66%, -20% 69%, 22% 69%, -21% 15%, -22% 90%, 37% 72%;
      }
      13% {
        background-position: -11% 46%, 40% 32%, 115% 80%, 63% 1%, -16% 87%, 102% 28%, 116% 44%, 113% 97%, 14% 89%, 66% 66%, 31% 69%, 106% 69%, 101% 15%, 82% 90%, 69% 72%;
      }
      14% {
        background-position: 71% 46%, -11% 32%, 69% 80%, 14% 1%, 76% 87%, -11% 28%, 112% 44%, 2% 97%, -13% 89%, 1% 66%, -6% 69%, 33% 69%, 109% 15%, 14% 90%, -1% 72%;
      }
      15% {
        background-position: 37% 46%, 89% 32%, 48% 80%, 49% 1%, 63% 87%, 4% 28%, -21% 44%, 6% 97%, 58% 89%, 32% 66%, -9% 69%, 125% 69%, 88% 15%, 34% 90%, 47% 72%;
      }
      16% {
        background-position: 123% 46%, -13% 32%, -9% 80%, 61% 1%, 75% 87%, -13% 28%, 24% 44%, 51% 97%, 32% 89%, 19% 66%, -20% 69%, 58% 69%, 27% 15%, 4% 90%, 108% 72%;
      }
      17% {
        background-position: 53% 46%, -19% 32%, 44% 80%, 66% 1%, 66% 87%, 5% 28%, 114% 44%, 91% 97%, 116% 89%, 64% 66%, 25% 69%, 32% 69%, 1% 15%, 11% 90%, 96% 72%;
      }
      18% {
        background-position: -23% 46%, 125% 32%, 108% 80%, 83% 1%, -18% 87%, 117% 28%, 16% 44%, 18% 97%, 9% 89%, 71% 66%, 93% 69%, -9% 69%, 67% 15%, 113% 90%, 32% 72%;
      }
      19% {
        background-position: 100% 46%, 39% 32%, 77% 80%, -13% 1%, 100% 87%, 70% 28%, 99% 44%, 82% 97%, 30% 89%, 70% 66%, 13% 69%, 115% 69%, 117% 15%, -18% 90%, 37% 72%;
      }
      20% {
        background-position: -2% 46%, 55% 32%, -4% 80%, 43% 1%, 76% 87%, -17% 28%, 0% 44%, 95% 97%, 21% 89%, -5% 66%, 124% 69%, 62% 69%, 75% 15%, 44% 90%, 37% 72%;
      }
      21% {
        background-position: -21% 46%, 44% 32%, 67% 80%, 74% 1%, 70% 87%, 29% 28%, 78% 44%, 118% 97%, 92% 89%, 107% 66%, 91% 69%, 25% 69%, 42% 15%, 125% 90%, 89% 72%;
      }
      22% {
        background-position: 37% 46%, 6% 32%, 115% 80%, -22% 1%, -1% 87%, 39% 28%, 32% 44%, 21% 97%, -22% 89%, 72% 66%, 93% 69%, -15% 69%, 107% 15%, 52% 90%, 3% 72%;
      }
      23% {
        background-position: 45% 46%, 13% 32%, 40% 80%, 116% 1%, 53% 87%, -24% 28%, 104% 44%, 53% 97%, 1% 89%, 90% 66%, 34% 69%, 28% 69%, 65% 15%, 92% 90%, 107% 72%;
      }
      24% {
        background-position: 65% 46%, 16% 32%, 7% 80%, 80% 1%, -2% 87%, 84% 28%, 48% 44%, 95% 97%, 93% 89%, 51% 66%, 55% 69%, 101% 69%, 72% 15%, 111% 90%, 26% 72%;
      }
      25% {
        background-position: -18% 46%, 33% 32%, 88% 80%, 43% 1%, 31% 87%, -3% 28%, 37% 44%, 46% 97%, 46% 89%, -4% 66%, 42% 69%, 98% 69%, 40% 15%, 107% 90%, -19% 72%;
      }
      26% {
        background-position: 32% 46%, -8% 32%, 82% 80%, 35% 1%, 102% 87%, 16% 28%, 108% 44%, 33% 97%, 14% 89%, 95% 66%, 32% 69%, 48% 69%, 105% 15%, 35% 90%, 95% 72%;
      }
      27% {
        background-position: 101% 46%, 100% 32%, 122% 80%, 77% 1%, 2% 87%, 112% 28%, -19% 44%, 107% 97%, 31% 89%, 98% 66%, 109% 69%, 18% 69%, -13% 15%, 1% 90%, 18% 72%;
      }
      28% {
        background-position: 124% 46%, 99% 32%, 94% 80%, 122% 1%, 70% 87%, 45% 28%, 32% 44%, 54% 97%, 97% 89%, -9% 66%, 58% 69%, 91% 69%, -9% 15%, 20% 90%, -10% 72%;
      }
      29% {
        background-position: 30% 46%, 1% 32%, 110% 80%, -11% 1%, -14% 87%, 37% 28%, 73% 44%, 56% 97%, -10% 89%, 74% 66%, 10% 69%, 35% 69%, 48% 15%, 69% 90%, -15% 72%;
      }
      30% {
        background-position: 18% 46%, 9% 32%, 13% 80%, 123% 1%, 114% 87%, 86% 28%, 88% 44%, -15% 97%, 10% 89%, 45% 66%, 98% 69%, 32% 69%, 0% 15%, 73% 90%, 60% 72%;
      }
      31% {
        background-position: 42% 46%, 109% 32%, 3% 80%, 29% 1%, -8% 87%, -22% 28%, -14% 44%, 5% 97%, 12% 89%, 7% 66%, 120% 69%, 81% 69%, 67% 15%, 13% 90%, 121% 72%;
      }
      32% {
        background-position: 21% 46%, 17% 32%, -7% 80%, -5% 1%, -21% 87%, 0% 28%, 64% 44%, -8% 97%, 62% 89%, 86% 66%, 25% 69%, 105% 69%, -17% 15%, 125% 90%, 90% 72%;
      }
      33% {
        background-position: 65% 46%, -24% 32%, 30% 80%, 66% 1%, 32% 87%, 112% 28%, 125% 44%, 70% 97%, 29% 89%, 1% 66%, 89% 69%, -4% 69%, 44% 15%, -9% 90%, 35% 72%;
      }
      34% {
        background-position: 116% 46%, 116% 32%, 98% 80%, 121% 1%, 111% 87%, -21% 28%, 2% 44%, 57% 97%, 80% 89%, 120% 66%, 72% 69%, 2% 69%, 61% 15%, 32% 90%, 44% 72%;
      }
      35% {
        background-position: 28% 46%, 19% 32%, 55% 80%, -22% 1%, -14% 87%, 89% 28%, 46% 44%, 31% 97%, 102% 89%, 11% 66%, 24% 69%, 11% 69%, 29% 15%, 112% 90%, 33% 72%;
      }
      36% {
        background-position: 65% 46%, 56% 32%, 93% 80%, 95% 1%, 117% 87%, 67% 28%, -23% 44%, 25% 97%, -7% 89%, 9% 66%, 11% 69%, 51% 69%, 12% 15%, 36% 90%, 109% 72%;
      }
      37% {
        background-position: 47% 46%, 99% 32%, 72% 80%, 15% 1%, 106% 87%, 51% 28%, 27% 44%, 34% 97%, 113% 89%, 4% 66%, -17% 69%, 53% 69%, -8% 15%, 62% 90%, 119% 72%;
      }
      38% {
        background-position: 93% 46%, 41% 32%, 98% 80%, 97% 1%, 60% 87%, -21% 28%, 121% 44%, 110% 97%, 103% 89%, 3% 66%, 36% 69%, 52% 69%, 35% 15%, 97% 90%, 39% 72%;
      }
      39% {
        background-position: 17% 46%, 100% 32%, -7% 80%, 26% 1%, 74% 87%, 75% 28%, 44% 44%, 40% 97%, 88% 89%, 74% 66%, 79% 69%, 116% 69%, 40% 15%, 42% 90%, 30% 72%;
      }
      40% {
        background-position: -14% 46%, 15% 32%, -12% 80%, 50% 1%, 106% 87%, 73% 28%, -23% 44%, 19% 97%, 101% 89%, 14% 66%, 53% 69%, 7% 69%, 53% 15%, 95% 90%, 123% 72%;
      }
      41% {
        background-position: 17% 46%, 31% 32%, 106% 80%, -10% 1%, 72% 87%, 84% 28%, 64% 44%, 122% 97%, 56% 89%, 59% 66%, 8% 69%, 23% 69%, 80% 15%, 114% 90%, 6% 72%;
      }
      42% {
        background-position: 53% 46%, -16% 32%, 52% 80%, -19% 1%, 124% 87%, 48% 28%, 54% 44%, 82% 97%, 97% 89%, 91% 66%, 9% 69%, 63% 69%, 4% 15%, 8% 90%, 9% 72%;
      }
      43% {
        background-position: 60% 46%, 3% 32%, 106% 80%, -16% 1%, -11% 87%, 29% 28%, 107% 44%, 52% 97%, 73% 89%, -22% 66%, -21% 69%, 10% 69%, 73% 15%, 55% 90%, 80% 72%;
      }
      44% {
        background-position: 13% 46%, 72% 32%, 31% 80%, 80% 1%, -10% 87%, -11% 28%, 117% 44%, 14% 97%, 46% 89%, 123% 66%, -10% 69%, 86% 69%, 107% 15%, -16% 90%, 111% 72%;
      }
      45% {
        background-position: 52% 46%, 48% 32%, -24% 80%, -7% 1%, 4% 87%, 71% 28%, 75% 44%, -22% 97%, -23% 89%, 85% 66%, 82% 69%, 44% 69%, 25% 15%, 46% 90%, 86% 72%;
      }
      46% {
        background-position: 32% 46%, 95% 32%, -1% 80%, 65% 1%, 32% 87%, 80% 28%, 10% 44%, 10% 97%, 50% 89%, 107% 66%, 31% 69%, 90% 69%, 118% 15%, 30% 90%, 26% 72%;
      }
      47% {
        background-position: 4% 46%, 11% 32%, 21% 80%, 29% 1%, 90% 87%, 36% 28%, 29% 44%, -15% 97%, -23% 89%, 30% 66%, 19% 69%, 120% 69%, 57% 15%, -10% 90%, 26% 72%;
      }
      48% {
        background-position: 63% 46%, 38% 32%, 78% 80%, 120% 1%, 71% 87%, 74% 28%, 123% 44%, 101% 97%, 42% 89%, 25% 66%, 76% 69%, -11% 69%, 17% 15%, 92% 90%, 62% 72%;
      }
      49% {
        background-position: 112% 46%, 87% 32%, 122% 80%, -8% 1%, 96% 87%, 99% 28%, 83% 44%, 2% 97%, 42% 89%, 86% 66%, 119% 69%, 97% 69%, 8% 15%, 112% 90%, 82% 72%;
      }
      50% {
        background-position: 36% 46%, 19% 32%, 72% 80%, 95% 1%, -17% 87%, 24% 28%, 20% 44%, 104% 97%, -4% 89%, -16% 66%, 87% 69%, 65% 69%, 73% 15%, 115% 90%, 38% 72%;
      }
      51% {
        background-position: 50% 46%, 1% 32%, 31% 80%, 107% 1%, 57% 87%, 31% 28%, 81% 44%, 42% 97%, 51% 89%, 2% 66%, -18% 69%, 0% 69%, 53% 15%, 89% 90%, 97% 72%;
      }
      52% {
        background-position: 24% 46%, 91% 32%, -7% 80%, 60% 1%, 61% 87%, 93% 28%, 29% 44%, 61% 97%, 29% 89%, 31% 66%, -10% 69%, 16% 69%, 85% 15%, 30% 90%, 76% 72%;
      }
      53% {
        background-position: -18% 46%, 5% 32%, 9% 80%, 123% 1%, 50% 87%, 90% 28%, -21% 44%, 9% 97%, 45% 89%, 29% 66%, 102% 69%, 25% 69%, -12% 15%, 19% 90%, 67% 72%;
      }
      54% {
        background-position: 59% 46%, 25% 32%, 35% 80%, 6% 1%, 57% 87%, 112% 28%, 28% 44%, 118% 97%, -17% 89%, 102% 66%, 75% 69%, 72% 69%, 116% 15%, 1% 90%, -6% 72%;
      }
      55% {
        background-position: 50% 46%, 42% 32%, 30% 80%, 92% 1%, 22% 87%, 23% 28%, 100% 44%, 34% 97%, 56% 89%, 24% 66%, -12% 69%, 8% 69%, -21% 15%, 64% 90%, 26% 72%;
      }
      56% {
        background-position: 116% 46%, 109% 32%, -2% 80%, 4% 1%, 77% 87%, 11% 28%, 1% 44%, -22% 97%, 73% 89%, 70% 66%, -20% 69%, 71% 69%, 12% 15%, 75% 90%, 76% 72%;
      }
      57% {
        background-position: 62% 46%, 118% 32%, 100% 80%, 100% 1%, 58% 87%, 121% 28%, 90% 44%, 109% 97%, 42% 89%, -19% 66%, 119% 69%, 84% 69%, -18% 15%, 83% 90%, 73% 72%;
      }
      58% {
        background-position: 75% 46%, 65% 32%, 7% 80%, 32% 1%, 118% 87%, 43% 28%, 12% 44%, 1% 97%, 122% 89%, 72% 66%, 59% 69%, 107% 69%, 73% 15%, 48% 90%, 67% 72%;
      }
      59% {
        background-position: -3% 46%, 60% 32%, 54% 80%, 3% 1%, 96% 87%, 40% 28%, 77% 44%, 85% 97%, 117% 89%, 15% 66%, 29% 69%, 22% 69%, 87% 15%, 1% 90%, 106% 72%;
      }
      60% {
        background-position: 78% 46%, 49% 32%, 41% 80%, 116% 1%, 119% 87%, 19% 28%, 30% 44%, 35% 97%, 18% 89%, 110% 66%, 109% 69%, 33% 69%, 36% 15%, 56% 90%, 9% 72%;
      }
      61% {
        background-position: 96% 46%, 13% 32%, 91% 80%, 121% 1%, 49% 87%, 51% 28%, 19% 44%, 96% 97%, 4% 89%, 37% 66%, 3% 69%, 8% 69%, 95% 15%, 32% 90%, 39% 72%;
      }
      62% {
        background-position: 50% 46%, 26% 32%, 70% 80%, -22% 1%, 5% 87%, 32% 28%, 43% 44%, 42% 97%, 65% 89%, -19% 66%, 75% 69%, 67% 69%, 109% 15%, -14% 90%, 22% 72%;
      }
      63% {
        background-position: -8% 46%, 11% 32%, 79% 80%, 80% 1%, 91% 87%, 32% 28%, 114% 44%, 45% 97%, 119% 89%, 67% 66%, 1% 69%, -10% 69%, 66% 15%, -10% 90%, 3% 72%;
      }
      64% {
        background-position: 1% 46%, 102% 32%, 8% 80%, 48% 1%, 3% 87%, -20% 28%, 59% 44%, -24% 97%, 81% 89%, 114% 66%, 92% 69%, 72% 69%, -14% 15%, 89% 90%, 91% 72%;
      }
      65% {
        background-position: 23% 46%, 93% 32%, 23% 80%, 42% 1%, 50% 87%, 115% 28%, 121% 44%, 57% 97%, 11% 89%, 1% 66%, 92% 69%, 80% 69%, 23% 15%, -16% 90%, -20% 72%;
      }
      66% {
        background-position: 83% 46%, 5% 32%, 86% 80%, 22% 1%, -16% 87%, -18% 28%, 57% 44%, 1% 97%, -19% 89%, 122% 66%, 64% 69%, 8% 69%, 88% 15%, 106% 90%, 24% 72%;
      }
      67% {
        background-position: 73% 46%, 111% 32%, 53% 80%, 125% 1%, 91% 87%, 33% 28%, 33% 44%, 68% 97%, 70% 89%, 119% 66%, -21% 69%, 114% 69%, 107% 15%, 55% 90%, 70% 72%;
      }
      68% {
        background-position: 5% 46%, 21% 32%, 118% 80%, 22% 1%, 106% 87%, 42% 28%, 68% 44%, 46% 97%, -22% 89%, 14% 66%, 83% 69%, -15% 69%, 26% 15%, 87% 90%, 94% 72%;
      }
      69% {
        background-position: 47% 46%, 16% 32%, 75% 80%, 3% 1%, 90% 87%, 0% 28%, 47% 44%, 57% 97%, 65% 89%, 95% 66%, -4% 69%, 90% 69%, 56% 15%, 29% 90%, 0% 72%;
      }
      70% {
        background-position: 3% 46%, 84% 32%, 60% 80%, 43% 1%, 103% 87%, 2% 28%, -18% 44%, -4% 97%, -10% 89%, 105% 66%, 10% 69%, 21% 69%, -3% 15%, 90% 90%, -24% 72%;
      }
      71% {
        background-position: -9% 46%, -1% 32%, 31% 80%, 44% 1%, 62% 87%, 103% 28%, 54% 44%, 27% 97%, 10% 89%, 79% 66%, 5% 69%, 31% 69%, 8% 15%, 106% 90%, 19% 72%;
      }
      72% {
        background-position: 122% 46%, 51% 32%, -8% 80%, 108% 1%, -22% 87%, 118% 28%, 15% 44%, 109% 97%, 67% 89%, 122% 66%, 72% 69%, 91% 69%, 103% 15%, 17% 90%, 117% 72%;
      }
      73% {
        background-position: 24% 46%, 74% 32%, -16% 80%, 23% 1%, 21% 87%, 90% 28%, 50% 44%, 18% 97%, -11% 89%, 66% 66%, -15% 69%, 45% 69%, 75% 15%, 43% 90%, -1% 72%;
      }
      74% {
        background-position: 77% 46%, 110% 32%, 25% 80%, 20% 1%, 82% 87%, 121% 28%, 90% 44%, -15% 97%, 14% 89%, 46% 66%, 123% 69%, 98% 69%, 48% 15%, 23% 90%, 90% 72%;
      }
      75% {
        background-position: 78% 46%, 52% 32%, -20% 80%, 97% 1%, 83% 87%, 18% 28%, 41% 44%, 54% 97%, 63% 89%, 64% 66%, -15% 69%, 14% 69%, 48% 15%, -16% 90%, 84% 72%;
      }
      76% {
        background-position: 63% 46%, 116% 32%, 73% 80%, 68% 1%, -12% 87%, 10% 28%, 94% 44%, -23% 97%, -12% 89%, 87% 66%, 125% 69%, 71% 69%, 11% 15%, 32% 90%, 83% 72%;
      }
      77% {
        background-position: 53% 46%, 18% 32%, 106% 80%, -11% 1%, 74% 87%, 121% 28%, 74% 44%, 44% 97%, 105% 89%, 119% 66%, 102% 69%, 41% 69%, 1% 15%, 33% 90%, 21% 72%;
      }
      78% {
        background-position: 62% 46%, 54% 32%, 36% 80%, 98% 1%, 55% 87%, 114% 28%, 30% 44%, -1% 97%, 4% 89%, 38% 66%, -14% 69%, 8% 69%, -12% 15%, 19% 90%, 23% 72%;
      }
      79% {
        background-position: 65% 46%, 33% 32%, 86% 80%, 102% 1%, 35% 87%, 21% 28%, -3% 44%, 20% 97%, 38% 89%, 11% 66%, 57% 69%, 115% 69%, 39% 15%, 110% 90%, 93% 72%;
      }
      80% {
        background-position: 80% 46%, 70% 32%, 54% 80%, 97% 1%, 3% 87%, 24% 28%, 84% 44%, 116% 97%, 113% 89%, 124% 66%, 108% 69%, 40% 69%, 73% 15%, 97% 90%, 92% 72%;
      }
      81% {
        background-position: -9% 46%, 11% 32%, 76% 80%, 54% 1%, 86% 87%, 27% 28%, 116% 44%, 42% 97%, 81% 89%, 106% 66%, 78% 69%, 9% 69%, -17% 15%, -13% 90%, 64% 72%;
      }
      82% {
        background-position: 98% 46%, 22% 32%, 61% 80%, 75% 1%, 103% 87%, 30% 28%, 85% 44%, 67% 97%, 53% 89%, 105% 66%, 58% 69%, 107% 69%, 10% 15%, 103% 90%, 62% 72%;
      }
      83% {
        background-position: -2% 46%, 41% 32%, 89% 80%, -3% 1%, 119% 87%, 54% 28%, 70% 44%, 113% 97%, -17% 89%, 90% 66%, 39% 69%, 117% 69%, 56% 15%, 57% 90%, 10% 72%;
      }
      84% {
        background-position: 20% 46%, -9% 32%, 8% 80%, 47% 1%, 45% 87%, 29% 28%, -8% 44%, 63% 97%, 3% 89%, 102% 66%, 77% 69%, -5% 69%, 9% 15%, 74% 90%, 117% 72%;
      }
      85% {
        background-position: 61% 46%, -21% 32%, -5% 80%, 112% 1%, 71% 87%, 118% 28%, 77% 44%, 52% 97%, 98% 89%, 121% 66%, 64% 69%, 21% 69%, 100% 15%, 10% 90%, 61% 72%;
      }
      86% {
        background-position: 73% 46%, 22% 32%, 66% 80%, 9% 1%, -5% 87%, 68% 28%, -18% 44%, 23% 97%, 105% 89%, -1% 66%, 34% 69%, 90% 69%, 41% 15%, 122% 90%, 114% 72%;
      }
      87% {
        background-position: -7% 46%, 44% 32%, -17% 80%, 2% 1%, 58% 87%, 22% 28%, 45% 44%, 75% 97%, -13% 89%, 19% 66%, 60% 69%, 113% 69%, 40% 15%, 110% 90%, 40% 72%;
      }
      88% {
        background-position: 75% 46%, 13% 32%, 1% 80%, -3% 1%, 111% 87%, 24% 28%, 3% 44%, 15% 97%, 8% 89%, -20% 66%, 4% 69%, 64% 69%, 5% 15%, 107% 90%, 61% 72%;
      }
      89% {
        background-position: -14% 46%, 59% 32%, 95% 80%, -21% 1%, -19% 87%, -3% 28%, 111% 44%, 111% 97%, 105% 89%, 112% 66%, -11% 69%, 9% 69%, 80% 15%, 42% 90%, -24% 72%;
      }
      90% {
        background-position: 109% 46%, 85% 32%, 76% 80%, 94% 1%, 84% 87%, 84% 28%, 74% 44%, 102% 97%, 25% 89%, -20% 66%, 73% 69%, 34% 69%, -1% 15%, 50% 90%, 44% 72%;
      }
      91% {
        background-position: 47% 46%, 44% 32%, 104% 80%, 95% 1%, 105% 87%, 108% 28%, -4% 44%, 58% 97%, 4% 89%, 6% 66%, 43% 69%, 28% 69%, 56% 15%, 20% 90%, 88% 72%;
      }
      92% {
        background-position: 122% 46%, 91% 32%, -10% 80%, 93% 1%, 116% 87%, 81% 28%, 89% 44%, 61% 97%, 32% 89%, 61% 66%, 4% 69%, 55% 69%, 90% 15%, 41% 90%, 53% 72%;
      }
      93% {
        background-position: 121% 46%, 32% 32%, 57% 80%, 27% 1%, 48% 87%, 92% 28%, -15% 44%, 35% 97%, 54% 89%, 95% 66%, 67% 69%, 11% 69%, 100% 15%, 114% 90%, -23% 72%;
      }
      94% {
        background-position: 101% 46%, 1% 32%, 110% 80%, 57% 1%, -7% 87%, 104% 28%, 0% 44%, 73% 97%, 105% 89%, 70% 66%, 101% 69%, 91% 69%, 46% 15%, 24% 90%, 107% 72%;
      }
      95% {
        background-position: 92% 46%, -15% 32%, -18% 80%, 2% 1%, 74% 87%, -10% 28%, 113% 44%, 15% 97%, 44% 89%, 27% 66%, 123% 69%, 90% 69%, 116% 15%, 104% 90%, 49% 72%;
      }
      96% {
        background-position: 121% 46%, 52% 32%, 103% 80%, 27% 1%, 77% 87%, 119% 28%, 55% 44%, 75% 97%, 115% 89%, -18% 66%, 22% 69%, 23% 69%, 77% 15%, 117% 90%, 18% 72%;
      }
      97% {
        background-position: 47% 46%, 13% 32%, 57% 80%, -3% 1%, 31% 87%, 9% 28%, 121% 44%, 22% 97%, 106% 89%, 87% 66%, -19% 69%, -12% 69%, 78% 15%, -6% 90%, 33% 72%;
      }
      98% {
        background-position: 85% 46%, -23% 32%, 12% 80%, 24% 1%, 34% 87%, 72% 28%, -8% 44%, 76% 97%, 36% 89%, 103% 66%, 121% 69%, 91% 69%, 97% 15%, 26% 90%, -1% 72%;
      }
      99% {
        background-position: 35% 46%, 55% 32%, 104% 80%, 16% 1%, 37% 87%, -15% 28%, 1% 44%, 111% 97%, 20% 89%, 6% 66%, 6% 69%, 67% 69%, 62% 15%, 24% 90%, 23% 72%;
      }
      100% {
        background-position: 95% 46%, 49% 32%, 81% 80%, -19% 1%, 119% 87%, 56% 28%, 118% 44%, 101% 97%, 64% 89%, 13% 66%, 30% 69%, 76% 69%, 31% 15%, 11% 90%, 97% 72%;
      }
    }
/*contairisation*/
.container{
  display: flex;
  justify-content: space-between;
  
}
.l60 {
  display: flex;
  flex-direction: column;
  padding: #bd2f2f;
  justify-content: flex-end;
  text-align: center;
  width: 60vw;
  color: rgb(251, 251, 251);
  height: inherit;
}
.l60-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  color: rgb(218, 198, 186);
  margin: 5px; 
}
.l60-1{
  flex: 1.5;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-end;
}
.l60-2{
  flex: 2;
  text-align: left;
}
/*text in between*/
h1{
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 30pt;
  margin-bottom: 6px;
  padding-left: 10px;
}
p.p1{
  margin-left: 20;
  padding-inline: 10px;
}
p.p1,p.p2,p.p3 {
  padding-inline-start: 15px;
  font-family: "Courier New", monospace;
}

h2 {
  padding-bottom: 10px;
  padding-block: 10px;
}
p.p3{
}
.r40 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40vw;
  color: #b73e26;
}
/* bibliography */
#bibliography {
  display: flex;
  background-color: rgba(77, 90, 86, 0.583);
}
.bibcontainer{
  display: flex;
}
.box-favappsnwebs{
  display: flex;
  flex-direction: column;
  width: 95vw;
  padding-left: 10px;
  content: "\2022";
  padding-top: 10px;
}
.box-1{
  flex: 1;
  color: azure;
  border-bottom: 2px dotted white;
  padding-bottom: 5px;
}  
.box-2{
  padding-top: 10px;
  padding-bottom: 5px;
  flex: 1;
  color: azure;
  content: "\2022";
  border-bottom: 2px dashed white;
}
.box-3{
  padding-top: 10px;
  padding-bottom: 5px;
  flex: 1;
  color: azure;
  padding-top: 10px;
  border-bottom: 2px dashed white;
}
.box-4{
  padding-top: 10px;
  padding-bottom: 5px;
  flex: 1;
  color: azure;
  padding-top: 10px;
}
.nestedbox{
}
a {
  color: bisque;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}
a:visited{
  color: rgba(227, 129, 106, 0.678);
}
.youtube-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff0000; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.youtube-button:hover {
  background-color: #cc0000; 
}

/* contacts */
#contacts{
  background-color: rgb(27, 34, 34);
}
.contact{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
  color: rgb(236, 232, 229);
  content: "\2022";
}
.contactbox{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  margin-right: 10px;
}
.cbt{
  display: flex;
  flex-direction: row;
  color: rgb(224, 217, 211);
  padding-top: 10px;
}
.cbl{
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 20px;
}

.maillogo{
  width: 35px;
  border-radius: 10;
}
.githubicon{
  width: 35px;
  height: auto;
  border-radius: 50%;
}
.notionlink{
  width: 35px;
}